<header>
    <div class="bg">
        <div class="header">
            <app-nav></app-nav>
            <h1>Portfólio<br /><span>&lt; Web &gt;</span></h1>
            <p>Desenvolvimento e<br />Produção para internet.</p>
            <h2>Gilberto 'Bá' Moral Lopes</h2>
            <h3>&lt; Front End Developer &gt;</h3>
            <!--<h4>(11) 98118-0674</h4>-->
            <div class="icons">
                <a href="https://www.facebook.com/gilberto.moral" target="_blank">
                    <img src="assets/img/icon_facebook.png" width="30" height="30" border="0" alt="Facebook" title="Facebook" class="zoom" />
                </a>
                <a href="https://pt.stackoverflow.com/users/200562/gilberto-b%c3%a1" target="_blank">
                    <img src="assets/img/icon_stackoverflow.png" width="30" height="30" border="0" alt="Stackoverflow" title="Stackoverflow" class="zoom" />
                </a>
                <a href="https://www.linkedin.com/in/gilberto-b%C3%A1/" target="_blank">
                    <img src="assets/img/icon_linkedin.png" width="30" height="30" border="0" alt="Linkedin" title="Linkedin" class="zoom" />
                </a>
                <a href="https://github.com/gilberto-ba" target="_blank">
                    <img src="assets/img/icon_github.png" width="30" height="30" border="0" alt="Github" title="Github" class="zoom" />
                </a>
            </div>
        </div>
    </div>
</header>