<div class="dados curriculum">
    <section>
        <h4>&lt;Curriculum&gt;</h4>
        <div class="ancoras">
            <a href="curriculum/#qualificacoes">[ Resumo de Qualificações ]</a>
            <a href="curriculum/#especialidades">[ Especialidades ]</a>
            <a href="curriculum/#caracteristicas">[ Características ]</a>
            <a href="curriculum/#cursos">[ Cursos Complementares ]</a>
            <a href="curriculum/#experiencias">[ Experiências Profissionais ]</a>
        </div>
        <a id="qualificacoes"></a>
        <p class="clear"><span class="subtitle">&lt; Resumo de Qualificações &gt;</span></p>
        <p class="bg">
            Experiência de mais de 25 anos em diversas áreas de Informática: Front End, Programação Web, Webdesigner, TI & Telecom, Ensino, Artes Gráficas e Wireless, prestando serviços para empresas como Webcore e Webcore Games, Tribo Interactive, Kwead, Fábrica
            de Comunicações, Talk Interativa, Datacraft do Brasil, Dimension Data do Brasil, Itware, Mac Donald's, DM Eletrônica, SOS Computadores, Portal WMulher, Datacity, DTBrasil entre outras, Suporte e Atendimento ao Cliente.
        </p>

        <a id="especialidades"></a>
        <p><span class="subtitle">&lt; Especialidades &gt;</span></p>
        <p class="bg">
            - Consumo e integrações com API's de clientes e parceiros. (Json)<br /> 
            - Design responsivo / Adaptative Web Design = Adaptação de layout para PCs Desktop, Tablets, Mobile e demais Devices, utilizando CSS responsivo com Media Queries; <br /> 
            - SASS/SCSS - Pré-processador CSS;<br /> 
            - Git (Controle de versão) Git Fork, Github para Desktop, Git Bash e outros;<br /> 
            - Automatização de Builds (NPM, Gulp, Grunt, Node.js);<br /> 
            - Frameworks e Integração com BackEnd (React, Vue.js, Angular 2, PHP, .NET, ASP, etc.);<br /> 
            - Conceito Mobile First;<br /> 
            - Implementação e testes Graceful degradation;<br /> 
            - (Front-end) Desenvolvimento em tecnologia de Interface Web usando novas tecnologias como: Webdesigner Responsivo* (Responsive Web Design), HTML5, HTML, XHTML, CSS3, CSS, DHTML, JavaScript, JQuery e Mootools com estimativa de prazos;<br /> 
            - Programar Html de E-mail Marketing para disparo;<br /> - Sistemas de controle de versão Git;<br /> 
            - Recorte de layouts em PSD, AI e Lunacy;<br /> - Domínio em Usabilidades, Web Semântica, Portais Corporativos, Institucionais, E-commerce, WordPress e Web 2.0;<br /> 
            - Teste Crossbrowser - Estilização multinavegadores: Edge, IE, Firefox, Chrome, Opera e Safari - Navegadores Ios;<br /> 
            - Validação de campos de formulários (JavaScript e ou Placeholder);<br /> 
            - Normas W3C, bem como validação de código Html e CSS;<br /> 
            - Depurar Metatags Facebook Developer e Twitter;<br /> - Markup para integração SEO;<br /> 
            - Planejar, organizar, dirigir e controlar os serviços da área;<br /> 
            - Manutenção de websites;<br />
        </p>

        <a id="caracteristicas"></a>
        <p><span class="subtitle">&lt; Características &gt;</span></p>
        <p class="bg">
            Liderança, Pró-atividade, Organização, Ótimo relacionamento interpessoal, conhecimento de gestão ágil com Scrum, Proj4me e Trello.
        </p>

        <a id="cursos"></a>
        <p><span class="subtitle">&lt; Cursos Complementares &gt;</span></p>
        <p class="bg">
            - Iniciando com typeScript (Udemy) Ago/2020<br /> 
            - Angular 9 Essencial (Udemy) Jul/2020<br /> 
            - Criando plugin JQuery (Udemy) Jul/2020<br /> 
            - Introdução ao Angular 2 (Udemy) Jul/2020<br /> 
            - Gestão ágil com SCRUM (Udemy) Jun/2020<br /> 
            - Criando uma Web API com retorno de JSON Básica (Udemy) Abr/2020<br /> 
            - Grunt.JS - (Learncafe) Jan/2020<br /> 
            - ReactJs - Aprendendo rápido (Udemy) Jan/2020<br /> 
            - Node JS + Rest API (Udemy) Jan/2020<br /> 
            - Git/Github: contribuições para projetos Open Source (Udemy) Dez/2019<br /> 
            - Flexbox - O guia completo (Udemy) Dez/2019<br /> 
            - Sass placeholders: O jeito certo (Udemy) Set/2019<br /> 
            - JavaScript e jQuery para Iniciantes (Udemy) Jul/2019<br /> 
            - React com Gulp (Udemy) Jun/2019<br /> 
            - Gulp (Udemy) Fev/2019<br /> 
            - Sass/SSCC: Do iniciante ao avançado (Udemy) Set/2018<br /> 
            - Git Completo: Do Básico ao avançado (Udemy) Fev/2018<br /> 
            - Desenvolvimento Web com HTML, CSS e JavaScript (Caelum) Mai/2014<br /> 
            - Tableless + CSS (Logiweb) Set/2005<br /> 
            - Fireworks - Ago/2005<br /> 
            - ASP (TeknoSoftware) 
            - Out/2003<br /> 
            - VB6 (TeknoSoftware) 
            - Jun/2003<br /> 
            - Tecnologia Wireless (Certificação DME) - 2003<br /> 
            - Swish 2.0 (Logic World) - 2001<br /> 
            - Dreamweaver 3 (Logic World) - 2001<br /> 
            - ASP I (Senac) - 2000<br /> 
            - Artes Gráficas (SOS Comp.) - 2000<br /> 
            - Page Maker 6.5 (SOS Comp.) - 2000<br /> 
            - Html Bloco de Notas (SOS Comp.) - 1998<br /> 
            - Corel Draw 7.0 (SOS Comp.) - 1998<br /> 
            - Inglês - Basic A e Basic B (CNA) - 1994<br /> 
            - Fotografia (Fuji Filmes) - 1994<br />
        </p>

        <a id="experiencias"></a>
        <p><span class="subtitle" id="experiencia">&lt; Experiências Profissionais &gt;</span></p>
        <p class="bg">
            - Landz Tecnologia (PJ) - Front End Developer Sr. 08/2020 a atual<br /> 
            - SutHub (PJ) - Programador Front End Sr. 03/2020 a 06/2020<br /> 
            - Agência Webcore e Webcore Games (PJ) - Programador Front End Sr. 03/2012 a 03/2020<br /> 
            - Agência Talk Interativa (PJ) - Programador Front End/Interface 10/2011 a 03/2012<br /> 
            - Agência Kwead (PJ) - Gerente de Front End 08/2009 a 10/2011<br /> 
            - Agência Tribo Interactive (PJ) - Programador Front End Sr. 07/2007 a 08/2009<br /> 
            - Dimension Data Brasil (Cooperativa) - Webmaster 06/2006 a 06/2007<br /> 
            - Agência Logiweb (Freelancer) - Webdesigner 09/2005 a 10/2005<br /> 
            - Impacto Designer (Freelancer) - Webmaster 09/2003 a Atual<br /> 
            - D.M.E. Eletrônica (CLT) - Webmaster 10/2002 a 08/2003<br/> 
            - Logic World Systems Ltda. (Cooperativa) - Webdesigner 06/2001 a 10/2002<br /> 
            - Compromisso Tecnologia da Informação (Cooperativa) - Webdesigner 01/2001 a 04/2001<br /> 
            - WMulher Internet Editora Ltda. (CLT) - Webdesigner 05/2000 a 10/2001<br/> 
            - Datacity (CLT) - Programador Jr. 10/1999 a 04/2000<br /> 
            - SOS Computadores (CLT) - Coordenador de Ensino 08/1995 a 06/1999 <br /> 
            - Metalurgica Plástico Leão (CLT) - CPD 07/1990 a 09/1995<br />
        </p>
    </section>
</div>