@font-face {
    font-family: 'Abel-Regular';
    src: url('Abel-Regular.eot');
    src: url('Abel-Regular.eot?#iefix') format('embedded-opentype'), url('Abel-Regular.woff2') format('woff2'), url('Abel-Regular.woff') format('woff'), url('Abel-Regular.ttf') format('truetype'), url('Abel-Regular.svg#Abel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatz-Bold';
    src: url('YanoneKaffeesatz-Bold.eot');
    src: url('YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'), url('YanoneKaffeesatz-Bold.woff2') format('woff2'), url('YanoneKaffeesatz-Bold.woff') format('woff'), url('YanoneKaffeesatz-Bold.ttf') format('truetype'), url('YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatz-ExtraLight';
    src: url('YanoneKaffeesatz-ExtraLight.eot');
    src: url('YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'), url('YanoneKaffeesatz-ExtraLight.woff2') format('woff2'), url('YanoneKaffeesatz-ExtraLight.woff') format('woff'), url('YanoneKaffeesatz-ExtraLight.ttf') format('truetype'), url('YanoneKaffeesatz-ExtraLight.svg#YanoneKaffeesatz-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatz-Light';
    src: url('YanoneKaffeesatz-Light.eot');
    src: url('YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'), url('YanoneKaffeesatz-Light.woff2') format('woff2'), url('YanoneKaffeesatz-Light.woff') format('woff'), url('YanoneKaffeesatz-Light.ttf') format('truetype'), url('YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatz-Regular';
    src: url('YanoneKaffeesatz-Regular.eot');
    src: url('YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'), url('YanoneKaffeesatz-Regular.woff2') format('woff2'), url('YanoneKaffeesatz-Regular.woff') format('woff'), url('YanoneKaffeesatz-Regular.ttf') format('truetype'), url('YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}