<footer>
    <div class="footer">
        <div class="content">
            <nav class="nav-footer">
                <a routerLink="/home">&lt;Home&gt;</a>
                <a routerLink="curriculum">&lt;Curriculum&gt;</a>
                <a routerLink="websites">&lt;Websites&gt;</a>
                <a routerLink="contatos">&lt;Contatos&gt;</a>
            </nav>
            <div class="copyright">Gilberto "Bá" Moral Lopes - Copyright ©2021 - Todos os direitos reservados.</div>
        </div>
    </div>
</footer>