<!-- https://formspree.io/ -->
<div class="dados contatos">
    <section>
        <h4>&lt;Contatos&gt;</h4>
        <p class="clear"><span class="subtitle">&lt; Entre em contato através deste formulário, assim que possível retornaremos. &gt;</span></p>

        <form action="https://formspree.io/moqkrnlz" method="POST">
            <label>Nome</label>
            <input type="text" name="nome" required /><br />
            <label>E-mail</label>
            <input type="text" name="email" required /><br />
            <label>Mensagem</label>
            <textarea name="mensagem" required></textarea><br />
            <input type="submit" value="Enviar" class="submit" />
        </form>
    </section>
</div>