<div class="dados websites">
    <section>
        <h4>&lt;Websites&gt;</h4>
        <p class="clear"><span class="subtitle">&lt; Alguns trabalhos &gt;</span></p>
        <div class="container">
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Portfólio Gilberto Bá</span><br /> Descrição: Portfólio web.<br /> Tecnologia: Angular 10 + HTML5 + Sass + JQuery + Responsivo<br /> Desenvolvimento e Arte: Gilberto Bá

                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/portfolio-gilberto-ba.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Banda A Casa</span><br /> Descrição: Grupo musical de São Paulo.<br /> Tecnologia: HTML5 + CSS3 + PHP + JQuery + Responsivo<br /> Desenvolvimento e Arte: Gilberto Bá<br />
                        <a href="http://bandaacasa.com.br/" target="_blank">Acessar</a>
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/banda-a-casa.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Michelle Valente</span><br /> Descrição: Michelle Valente expert em microblading.<br /> Tecnologia: HTML5 + PHP + MySql + JQuery + Responsivo<br /> Desenvolvimento e Arte: Gilberto Bá<br />
                        <a href="http://www.michellevalente.com.br/" target="_blank">Acessar</a>
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/michelle-valente.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Adelmetal</span><br /> Descrição: Fabricação de Componentes (Knobs) para som e instrumentos musicais.<br /> Tecnologia: HTML5 + PHP + MySql + JQuery<br /> Desenvolvimento e Arte: Gilberto Bá<br />
                        <a href="http://www.adelmetal.com.br/" target="_blank">Acessar</a>
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/adelmetal.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Banda King Bird</span><br /> Descrição: Site da banda de Heavy Metal brasileira King Bird.<br /> Tecnologia: HTML5 + PHP + MySql + JQuery<br /> Desenvolvimento e Arte: Gilberto Bá<br />
                        <a href="http://www.kingbird.com.br/" target="_blank">Acessar</a>
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/banda-king-bird.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Banda Casa das Máquinas</span><br /> Descrição: Site da banda de Hard Rock Brasileira, Casa das Máquinas dos anos 70.<br /> Tecnologia: PHP + Tableless + MySql<br /> Desenvolvimento e Arte: Gilberto Bá

                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/banda-casa-das-maquinas.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Star Line Music</span><br /> Descrição: Site de eventos artísticos.<br /> Tecnologia: PHP + MySql + JQuery<br /> Desenvolvimento e Arte: Gilberto Bá<br />
                        <a href="http://www.starlinemusic.com.br/" target="_blank">Acessar</a>
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/star-line-music.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Estética FV</span><br /> Descrição: Estética FV - Estética e Bem Estar.<br /> Tecnologia: Html + PHP + CSS3 + Javascript<br /> Desenvolvimento: Gilberto Bá<br /> Arte: Ronaldo Boldrin<br /> Texto: Mariana Teixeira
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/estetica-fv.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Nestlé - Com Você Todo Dia</span><br /> Descrição: Produto da empresa Nestlé<br /> Tecnologia: ASPX + Tableless<br /> Desenvolvimento e Manutenção: Gilberto Bá<br /> Agência: Kwead.com & Fabrica Comunicação
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/com-vc.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Nestlé - Ninho Soleil</span><br /> Descrição: Produto da empresa Nestlé<br /> Tecnologia: ASPX<br /> Desenvolvimento e Manutenção: Gilberto Bá<br /> Agência: Kwead.com & Fabrica Comunicação
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/ninho.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Hotsite Johnsons Baby</span><br /> Descrição: Produto do grupo Johnsons & Johnsons.<br /> Tecnologia: ASP<br /> Desenvolvimento e Manutenção: Gilberto Bá<br /> Agência: Tribo Interactive
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/bb-jh.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: Sou Rio Preto de Coração</span><br /> Descrição: Hotsite "Sou Rio Preto de Coração v.1" da grupo Rodobens<br /> Tecnologia: ASPX + Tableless<br /> Desenvolvimento e Manutenção: Gilberto Bá<br /> Agência: Kwead.com
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/sou-rio-preto.png"></div>
            </div>
            <div class="trocar">
                <div class="back">
                    <div class="infos">
                        <span>Site: FEBRABAN - Meu Bolso em Dia</span><br /> Descrição: Site de invenstimento financeiro familiar.<br /> Tecnologia: ASPX + Tableless<br /> Desenvolvimento e Manutenção: Gilberto Bá<br /> Agência: Kwead.com & Fabrica Comunicação
                    </div>
                </div>
                <div class="front"><img src="assets/img/cases/febraban.png"></div>
            </div>

        </div>

    </section>
</div>