<div class="dados home">
    <section>
        <h4>&lt;Formação&gt;</h4>
        <p class="clear bg">Formado em Comunicação para Web (UNIP - Graduação 2006/2008) em São Paulo, com mais de 25 anos de experiência em criação e programação voltado para web.</p>
        <p><span class="subtitle">&lt; Resumo de Habilidades &gt;</span></p>
        <p class="bg">
            Html5, CSS3 (FlexBox), Mobile first, Javascript, Jquery, Php, Mysql, Wordpress, Boostrap, Material Design e PrimeNg.<br /> 
            Pré processadores de css: Sass/SCSS.<br /> 
            Framework SPA: Angular 2+ com consumo de API's Restful (Json).<br /> 
            Versionamento de códigos: Git/Github/Azure DevOps.<br /> 
            Package manager: Npm.<br/> 
            Ferramentas de build: Gulp/Grunt/Npm.<br /> 
            Vivência em metodologias ágeis com Scrum, Cultura DevOps e UX Designer.<br /> 
            SEO Performance: PageSpeed Insights.<br /> 
            Editores de imagem: Photoshop, Ilustrator, Sketch, Lunacy, Zeplin, Figma, Fireworks, PhotoImpact, CorelDraw.<br />
        </p>
    </section>
</div>