<div class="dados home">
    <section>
        <h4>&lt;Formação&gt;</h4>
        <p class="clear">Formado em Comunicação para Web (UNIP - Graduação 2006/2008) em São Paulo, com mais de 25 anos de experiência em criação e programação voltado para web.</p>
        <p><span class="subtitle">&lt; Resumo de Habilidades &gt;</span></p>
        <p>Html5, CSS3 (FlexBox), Mobile first, Javascript, Jquery, Php, Mysql, Wordpress.<br /> Pré processadores de css: Sass.<br /> Framework SPA: Angular, React, e Vue.js.<br /> Versionamento de códigos: Git/Github.
            <br /> Package manager: Npm.<br /> Ferramentas de build: Gulp/Grunt/Npm.<br /> Vivência em metodologias ágeis com Scrum.</p>
    </section>
</div>